.form {
  background: var(--elevation-1);
  padding: 1rem;
  border-radius: 0.5rem;

  input {
    background: var(--background);
  }

  button {
    color: #3da224;
    border-color: #3da224;

    &:not(:disabled):active {
      color: white;
      background-color: #3da224;
      border-color: #3da224;
    }
  }
}
