.container {
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  background: var(--elevation-1);

  .body {
    display: flex;
    border-bottom: 1px solid var(--elevation-6);

    .image {
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    .info {
      flex: 1;
      text-align: start;
      padding: 1rem;

      .name {
        text-transform: capitalize;
        font-weight: bold;
        font-size: 1.25em;
      }

      .types {
        display: flex;
        font-size: 0.75em;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }
    }

    .captureBtn {
      width: 100px;
    }
  }

  .footer {
    padding: 1rem;

    table {
      table-layout: fixed;
      width: 100%;

      th {
        text-transform: capitalize;
      }
    }
  }

  &.captured {
    .captureBtn {
      color: white;
      background-color: #e72324;
      border-color: #e72324;
    }
  }
}
