.chip {
  text-transform: uppercase;
  color: white;
  border-radius: 1rem;
  padding: 0.25em 0.5em;
  display: flex;
  align-items: center;
  transition: opacity 0.25s;

  &:not(:first-of-type) {
    margin-left: 0.5em;
  }

  &:hover {
    opacity: 0.8;
  }

  > img {
    margin-right: 0.25em;
  }
}
