.card {
  background: #00000000;
  border: 1px solid #ffffff1f;
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  &:not(:last-of-type) {
    margin-right: 1rem;
  }

  &.hovered {
    background: #ffffff10;
  }

  .name {
    text-transform: capitalize;
  }

  .types {
    display: flex;
    justify-content: center;
    font-size: 0.75rem;
    list-style: none;
    padding: 0;
  }

  .detailBtn {
    margin-top: 1rem;
  }
}
