.container {
  display: flex;
  justify-content: center;

  .pages {
    margin: 0 2rem;

    .current {
      background-color: var(--accent);
      color: var(--accent-text);
    }

    > button:not(:last-child) {
      margin-right: 0.5rem;
    }
    > span {
      margin-right: 1rem;
      margin-left: 0.5rem;
    }
  }
}
